@import '../fonts/Fonts.css';
@import 'MFXColors.css';

/**************************************************
 * Root
**************************************************/
.rootPane {
	-fx-background-color: white;
	-fx-background-radius: 12;
	-fx-border-color: #ebebeb;
	-fx-border-radius: 12;
}

/**************************************************
 * Window Header
**************************************************/
.rootPane .close-icon {
	-mfx-color: -mfx-red;
	-fx-opacity: 0.5;
	-fx-cursor: hand;
}

.rootPane .close-icon:hover {
	-fx-opacity: 1.0;
}

.rootPane .minimize-icon {
	-mfx-color: #ffbf37;
	-fx-opacity: 0.5;
	-fx-cursor: hand;
}

.rootPane .minimize-icon:hover {
	-fx-opacity: 1.0;
}

.rootPane .always-on-top-icon {
	-mfx-color: #7a0ed9;
	-fx-opacity: 0.5;
	-fx-cursor: hand;
}

.rootPane .always-on-top-icon:hover {
	-fx-opacity: 1.0;
}

.rootPane .always-on-top-icon:always-on-top {
	-fx-opacity: 1.0;
}

/**************************************************
 * Sidebar
**************************************************/
.rootPane .sidebar {
	-fx-background-color: white;
	-fx-background-insets: -1 0 -1 -1;
	-fx-background-radius: 12 0 0 12;
	-fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 0, 0, 1, 0);
}

.rootPane .sidebar .header .mfx-font-icon {
	-mfx-color: white;
}

.rootPane .sidebar .signOutLabel {
	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 16;
	-fx-text-fill: #737373;
	-fx-cursor: hand;
}

.rootPane .sidebar .signOutLabel:hover,
.rootPane .sidebar .signOutIcon:hover {
	-fx-opacity: 0.7;
}

.rootPane .sidebar .menu-label {
	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 14;
	-fx-text-fill: #9B9999;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-border-style: hidden hidden hidden solid;
	-fx-border-width: 3;
	-fx-border-color: transparent;
	-fx-border-radius: 0;
	-fx-pref-height: 40;

	-fx-font-family: 'Roboto Medium';
	-fx-font-size: 13;
	-fx-text-fill: #737373;
	-fx-cursor: hand;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node .mfx-ripple-generator {
	-mfx-paused: true;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node .mfx-icon-wrapper .mfx-font-icon {
	-mfx-color: #737373;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node:selected {
	-fx-background-color: white;
	-fx-background-radius: 5;
	-fx-text-fill: #23A6F0;
	-fx-border-color: #23A6F0;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node:selected .selection-rectangle {
	-fx-stroke: transparent;
	-fx-fill: transparent;
}

.rootPane .sidebar .navbar .mfx-rectangle-toggle-node:selected .mfx-icon-wrapper .mfx-font-icon {
	-mfx-color: #23A6F0;
}

/**************************************************
 * User Navigation
**************************************************/
.rootPane .userNav {
    -fx-background-color: white;
    -fx-border-radius: 12;
    -fx-fill: white;
    -fx-border-color: rgba(0,0,0,0.1);
    -fx-border-width: 1;
	-fx-font-family: 'Roboto Medium';
}

.rootPane .userNav .nameLabel {
    -fx-font-size: 14;
}

.rootPane .userNav .roleLabel {
    -fx-font-size: 13;
    -fx-text-fill: #9B9999;
}

/**************************************************
 * Content Pane
**************************************************/
.contentPane {
	-primary-color: #23A6F0;
}

.contentPane .heading {
	-fx-padding: 4 0;
	-fx-font-size: 20;
	-fx-font-family: 'Roboto Bold'
}

.contentPane .contentWrapper {
	-fx-padding: 12;
	-fx-border-radius: 12;
	-fx-border-color: rgba(0,0,0,0.1);
	-fx-border-width: 1;
}

.contentPane .addNewBtn {
	-fx-padding: 15 40;
	-fx-start-margin: 4px;
	-fx-end-margin: 4px;
	-fx-background-color: -primary-color;
	-fx-border-radius: 5;
	-fx-text-fill: white;
	-fx-font-size: 14;
	-fx-font-family: "Roboto Bold";
	-fx-cursor: hand;
}

.contentPane .addNewBtn:hover {
	-fx-background-color: rgba(35,166,240,0.7);
}

.contentPane .sortByLabel {
	-fx-text-fill: #9B9999;
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 14;
}

.contentPane .viewModeIcon {
	-fx-padding: 10;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	-fx-cursor: hand;
	-fx-opacity: 0.7;
}

.contentPane .viewModeIcon.active,
.contentPane .viewModeIcon:hover {
	-fx-background-color: #E9E9E9;
}

/**************************************************
 * Override Default ComboBox CSS
**************************************************/
.contentPane .mfx-combo-box {
	-fx-border-radius: 3;
}

.contentPane .mfx-combo-box:focus-within {
	-mfx-purple: -primary-color;
	-fx-text-fill: -primary-color;
}

.contentPane .mfx-combo-box:focus-within .caret .mfx-font-icon {
	-mfx-color: -primary-color;
	-fx-cursor: hand;
}

.contentPane .mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:hover {
	-fx-background-color: rgba(35,166,240,0.4);
	-fx-cursor: hand;
}

.contentPane .mfx-combo-box .combo-popup .virtual-flow .mfx-combo-box-cell:selected {
	-fx-background-color: -primary-color;
}