.mfx-table-column {
    -fx-font-family: "Roboto Medium";
    -fx-border-color: #f6f6f6;
    -fx-start-margin: 100;
}

.mfx-table-view .columns-container {
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 5 5 0 0;
}

.table-view-record-btn,
.table-modify-record-btn,
.table-delete-record-btn {
    -fx-font-family: "Roboto Medium";
    -fx-translate-y: -1.5;
    -fx-cursor: hand;
}

.table-view-record-btn,
.table-view-record-btn:focused {
    -fx-text-fill: white;
    -fx-background-color: #007bff;
}

.table-modify-record-btn,
.table-modify-record-btn:focused {
    -fx-text-fill: white;
    -fx-background-color: #007bff;
}

.table-delete-record-btn,
.table-delete-record-btn:focused {
    -fx-text-fill: white;
    -fx-background-color: #dc3545;
}

.table-view-record-btn:hover,
.table-modify-record-btn:hover,
.table-delete-record-btn:hover {
    -fx-opacity: 0.8;
}